/* ForgotPassword.module.css */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordWrapper input {
  flex: 1;
  padding-right: 40px; /* space for eye icon */
}

.eyeIcon {
  position: absolute;
  right: 12px;
  cursor: pointer;
  color: #666;
  font-size: 18px;
  top: 10px;
}
button {
  padding: 10px;
  background-color: var(--primary-black);
  color: white;
  border: none;
  cursor: pointer;
}
.error {
  color: red;
}
.success {
  color: green;
}
