.container {
  position: fixed;
  inset: 0;
  background: black;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}

.fadeOut {
  opacity: 0;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Small screens adjustment */
/* @media (max-width: 768px) {
  .video {
    object-fit: inherit;
  }
} */